/* reset setting */
html {
    height: 100%;
    font-size: 100%;
}
body {
    margin: 0;
    padding: 0;
    background: #fdfcfb;
    font: 12px 'Arial', sans-serif;
    color:  #868585;

}
* {
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box; /* при указании внутренних padding - ширина не учитывается */
}

a:hover {text-decoration: none;}
a:active,
a:hover {outline:0;}

img {border: none;}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {clear: both;}

.left {float: left;}
.right {float: right;}


/* Header */
header {
    margin: 50px 0 80px;
}
.menu .container {
    position: relative;
}
.menu {
    background: #fefefe;
    border: 0;
    padding: 10px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .19);
       -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .19);
         -o-box-shadow: 0 0 5px rgba(0, 0, 0, .19);
            box-shadow: 0 0 5px rgba(0, 0, 0, .19);
}
.navbar-brand {
    padding-right: 10px;
}
.navbar-brand img {
    position: relative;
    top: -69px;
}
a {
    cursor: pointer;
}
.navbar-nav li a {
    text-transform: uppercase;
    font-size: 18px;
    color: #8d8c8c;
    padding-left: 50px;
}
.navbar-nav:not(.icons) > li > a:hover {    /* отменяет подчеркивание у иконок в navbar */
    border-bottom: 1px solid #d42819;
    color: #d42819;
}
.icons li a {
    padding: 15px 5px;
}
.globe {
    position: absolute;
    font-size: 25px;
    line-height: 15px;
    padding-top: 20px;
    right: 20px; /* выравнивает по правому краю */
    cursor: pointer;
    color: #cfcecd;
    display: none; /* скрывает иконку */
}

/* @media */
@media only screen and (max-width: 992px) {
    .icons {
        display: none;
        position: absolute;
        right: 20px;
        top: 58px;
    }
    .icons li {
        float: none; /* иконки размещаются по вертикали */
    }
    .icons li a {
        padding: 3px;
    }
    .globe {
        display: block;
        right: 10px;
    }
}

